<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 定义rabbitmq connectionFactory -->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>
    <!--定义管理交换机、队列-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--
        定义一个队列
        name: 队列的名称
        durable: 是否持久化(默认true)
        auto-delete: 是否自动删除(默认false)
        exclusive: 是否独占(默认false)
    -->
    <!-- 定义两个队列 -->
    <rabbit:queue id="spring_direct_queue1" name="spring_direct_queue1" />
    <rabbit:queue id="spring_direct_queue2" name="spring_direct_queue2" />

    <!-- routing工作模式 将队列绑定到交换机 -->
    <rabbit:direct-exchange id="spring_direct_exchange" name="spring_direct_exchange" >
        <rabbit:bindings>
            <!--绑定queue指定routing key-->
            <rabbit:binding queue="spring_direct_queue1" key="red"/>
            <rabbit:binding queue="spring_direct_queue2" key="green"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--定义rabbitTemplate对象操作可以在代码中方便发送消息-->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>

    <!-- 注册监听器 -->
    <bean id="springWorkListener_direct" class="com.yjf.SpringWorkListener_direct"/>
    <!-- 绑定到监听器容器 -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <!-- 引用监听器并指定监听的队列,监听多个队列以逗号分隔 -->
        <rabbit:listener ref="springWorkListener_direct" queue-names="spring_direct_queue1,spring_direct_queue2"/>
    </rabbit:listener-container>
</beans>